// Here you can add other styles
.c-sidebar {
  background: #000;
}

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {


  background: #f55e45 ;
  border-radius: 10px;
}

.c-sidebar-nav-link {
  margin: 20px;
}


.c-footer {
  color: #fafafa;
  background: #f55e45;
}

.c-footer a {
  color: #603843;
}

#homeCarousel {
margin-bottom: 20px;
}

.table th, .table td {
  vertical-align: baseline;
  padding: 0.5rem;
}

