// Here you can add other styles
.c-sidebar {
  background: #000;
}

.c-footer {
  color: #fafafa;
  background: #f55e45;
}

.c-footer a {
  color: #603843;
}

#homeCarousel {
margin-bottom: 20px;
}

.table th, .table td {
  vertical-align: baseline;
  padding: 0.5rem;
}
